[flake8]
# F403: ‘from module import *’ used; unable to detect undefined names
# F405: name may be undefined, or defined from star imports: module
# This one is bad. Sometimes ordering matters, conditional imports
# setting env vars necessary etc.
# E402: module level import not at top of file
# W504: Raised by flake8 even when it is followed
# E203: is not PEP 8 compliant https://github.com/psf/black/issues/315
# W503: black doesn't care
ignore = F403, F405, E402, W504, E203, W503
max-line-length = 160
exclude = fnal_column_analysis_tools/processor/templates
