language: python
os:
- linux
python:
- 2.7
- 3.6
env:
  matrix:
  - AWKWARD="awkward>=0.8.4"
  - AWKWARD="awkward-numba==0.8.15 uproot-methods==0.4.7 uproot==3.4.19"
matrix: 
addons:
  apt:
    packages:
    - python-setuptools
    - pandoc
script:
- python setup.py flake8
- coverage run --source=coffea/ setup.py pytest
install:
- pip -q install --upgrade setuptools_scm
- pip -q install codecov
- PY_MAJ=`python -c 'import sys; print(sys.version_info[0])'`
- PY_MIN=`python -c 'import sys; print(sys.version_info[1])'`
- if [ $PY_MAJ -eq 3 ]; then pip -q install pandas pyarrow cloudpickle lz4 jinja2; fi
- if [ $PY_MAJ -eq 3 ]; then pip -q install https://github.com/Parsl/parsl/zipball/master; fi
- if [ $PY_MAJ -eq 3 ] && [ $PY_MIN -eq 6 ]; then  pip -q install pyspark; fi
- pip -q install ${AWKWARD}
- pip -q install uproot
- pip -q install scipy numba
- pip -q install numpy --upgrade
- python -c 'import numpy; print(numpy.__version__)'
- pip -q install pytest pytest-runner flake8
branches:
  only:
  - master
  - /v(\d+)?\.(\d+)\.(\d+)/
after_success:
  - if [ $TRAVIS_PYTHON_VERSION = "3.6" ] && [ $AWKWARD = "awkward>=0.8.4" ]; then codecov; fi
  - if [ $TRAVIS_PYTHON_VERSION = "3.6" ] && [ $AWKWARD = "awkward>=0.8.4" ]; then source docs/build_docs.sh; fi
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_OAUTH_TOKEN
    local_dir: docs/build/html
    target_branch: gh-pages
    on:
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = "3.6" && $AWKWARD = "awkward>=0.8.4"
  - provider: releases
    user: lgray
    api_key: $GITHUB_OAUTH_TOKEN
    on:
      tags: true
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = "3.6" && $AWKWARD = "awkward>=0.8.4"
  - provider: pypi
    user: lgray
    password:
      secure: "WHVS/wndyT63v5QEvthdETfxR5NsKvLCY0y1zRA9s8fcwLvvUR4S+E/AL3WmYHaZVzSseWJOzC9pzaY7pu5P6KEldriwdfarjdzHPnduXdgCpiv4Ur+nc7qt/dreS/6yHXYBwnamc1teE46Ujmmp/TJGFKzNoHpUq02TqyFNPHCjT7QUNMrtaOnPfeQn461Pg1lVaP43BEutfnQZI0d21R1PupPFwdYa3aLR+9maKoPcJTYgLrqDuXfJuSKTEwVAJKFJHm4HlPX43w8nWq3RMIRpByrxqaVI9XMmdp7RnLsyRZmhC2+qq/XRgAUIn0DVEQj0N5byj4FuvXl+mcOERRcOUnc29ioPpw/0XvEMjXsMc0U62uLahufLPCTDfMGshVSMwfZ9BBdJZOKwsLtZPeOL4qeVJptQ42+SWqoNmodlFw+wMZvGjJM6QZ5/JEUI8uq6EWYHP+DZedA3wU1huCY25h7T6fy/BJruIXoizAr1nLDBOdBkJPlm4pBolWcJenI/M3OynFy8zUAwn0Sa08eArpmJGfTHW1jC79JgCTJnmX8VmtGKFiBZLcgBut+RXNVUsbjS1V4Cn/wda4/Ow292YsVTNuDgVa7DtiWjis0CM1zpDNvPt5XIdrE0A6Huo25/+1rjutUQ5fs8f6skl0VXe6rcAv+dwYh4wY8fx00="
    distributions: sdist bdist_wheel --universal
    on:
      tags: true
      branch: master
      condition: $TRAVIS_PYTHON_VERSION = "3.6" && $AWKWARD = "awkward>=0.8.4"
